@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scrollbar-thin scrollbar-thumb-slate-500/50 scrollbar-track-slate-900;
}
body {
  font-family: "Bangers", sans-serif;
  /* background: #000000; */
}

.table-cell,
.table-header {
  padding: 10px;
}

.table-row:nth-child(even) {
  background-color: #bed6fc;
}

.table-row:nth-child(odd) {
  background-color: #e5efff;
}

.table-row:hover {
  background-color: #4b2f91;
  color: whitesmoke;
}

.table-column {
  font-weight: bold;
  height: 100%;
}

.table {
  border-collapse: collapse;
  font-family: sans-serif;
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {
  .table-cell {
    font-size: 12px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .table-cell {
    font-size: 16px;
  }
}

@layer components {
  .scrollbarY {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.5) #0f172a;
    padding-right: 10px;
  }
  .scrollbarX {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.5) #0f172a;
    padding-bottom: 0.5rem;
  }
}
